@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  font-family: Regular;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.spacer {
  margin: 10.6666666667px;
}

.halfSpacer {
  margin: 3.5555555556px;
}

.inputError {
  width: 100%;
  text-align: left !important;
  color: #B63434 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none;
  color: #000 !important;
  -webkit-text-size-adjust: 1.2em;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@font-face {
  font-family: Black;
  src: url(../../assets/fonts/Black.otf);
}
@font-face {
  font-family: ExtraBold;
  src: url(../../assets/fonts/ExtraBold.otf);
}
@font-face {
  font-family: Bold;
  src: url(../../assets/fonts/Bold.otf);
}
@font-face {
  font-family: SemiBold;
  src: url(../../assets/fonts/DemiBold.otf);
}
@font-face {
  font-family: Medium;
  src: url(../../assets/fonts/Medium.otf);
}
@font-face {
  font-family: Regular;
  src: url(../../assets/fonts/Regular.otf);
}
@font-face {
  font-family: Thin;
  src: url(../../assets/fonts/Thin.otf);
}
@font-face {
  font-family: Light;
  src: url(../../assets/fonts/Light.otf);
}

.absolute-fill {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
  .logo {
    left: 50%;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SelectField {
  width: 100%;
  display: flex;
  margin: 8px 0;
  position: relative;
  flex-direction: column;
}

.SelectField .values{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-top: 8px;
  border: 1px solid #cacaca;
  border-radius: 8px;
}

.SelectField label {
  font-size: 14px;
  font-family: Medium;
  color: #9099A8 !important;
}
.SelectField .icon {
  color: #9099A8 !important;
  transition: all 0.5s ease;
  cursor: pointer;
}
.SelectField .icon:hover {
  color: #77828D !important;
}

.SelectField .InputWrapper {
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #cacaca;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  outline: none;
  font-size: 14px;
  flex: 1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("../../assets/svg/chevron-down.svg") no-repeat right 19.2px center/0.8rem;
}

.SelectField .Label-Modal {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 105%;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}


.onTop .Label-Modal {
  top: initial;
  bottom: 70% !important;
}

.SelectField .Label-Modal .choice {
  padding: 8px 15px;
  transition: all 0.5s ease;
  margin: 0;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.SelectField .Label-Modal .choice:hover {
  background: #EBF1FE;
  color: #437ADB;
}
.SelectField .Label-Modal .choices {
  max-height: 30vh;
  overflow-y: scroll;
  padding: 10px 0;
}

.value{
  color: black !important;
}