/* .transparent{
  border: none !important;
  background: transparent !important;
  color: #437ADB;
}

.danger{
  background: #A7194B !important;
}

.secondary {
  background: transparent !important;
  border: 1px solid #333;
  padding: 7px 32px !important;
  color: #000 !important;
}

.secondary:hover{
  background: #437ADB !important;
  color: white !important;
  border-color: transparent
}

.muted {
  background: #C8CDD4 !important;
  color: #777 !important;
} */
